@font-face {
    font-family: pusab;
    src: url(../assets/fonts/pusab.ttf);
}

body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

container {
	display: flex;
	flex-wrap: nowrap;
}

#scoreBoard {
	position: relative;
	top: 50px;
	width: 680px;
	height: 60px;
	justify-content: space-between;
	align-items: center;
	font-family: pusab, monospace;
	font-size: 1.3em;
}

.lost {
	margin-left: 40%;
}
